<footer class="text-center text-lg-start bg-body-tertiary text-muted">
  <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
    <div class="me-5 d-none d-lg-block">
      <span>Conecta con nuestras redes sociales:</span>
    </div>
    <div class="icons-container">
      <a href="https://acortar.link/noFxus" class="me-4 text-reset">
        <img src="../../../assets/icons/instagram.svg" alt="">
      </a>
      <a href="https://acortar.link/FMKjHb" class="me-4 text-reset">
        <img src="../../../assets/icons/linkedin.svg" alt="">
      </a>
      <a href="https://github.com/MauricioMG94?tab=repositories" class="me-4 text-reset">
        <img src="../../../assets/icons/github.svg" alt="">
      </a>
    </div>
  </section>

  <section class="">
    <div class="container text-center text-md-start mt-5">
      <div class="row mt-3">
        <div class="col-md-8 col-lg-7 col-xl-6 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4">
            <img class="consult_icon" src="../../../assets/icons/search.svg" alt="">Consultas.com
          </h6>
          <p class="text_container">
            Consultas.com es una app segura y eficiente para obtener información básica de contacto. Con enfoque en la
            confidencialidad y la facilidad de uso, brinda una plataforma intuitiva para recopilar datos esenciales sin
            comprometer la privacidad.
          </p>
        </div>

        <div class="col-md-4 col-lg-5 col-xl-3 mx-auto mb-md-0 mb-4 contact_icons">
          <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
          <p>
            <a href="" class="me-4 text-reset">
              <img src="../../../assets/icons/map-pin-solid.svg" alt="">
            </a> Ibagué, Colombia
          </p>
          <p>
            <a href="" class="me-4 text-reset">
              <img src="../../../assets/icons/envelope-regular.svg" alt="">
            </a>
            {{email}}
          </p>
          <p>
            <a href="" class="me-4 text-reset">
              <img src="../../../assets/icons/phone-solid.svg" alt="">
            </a>
            +57 3186574742
          </p>
        </div>
      </div>
    </div>
  </section>

  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2024 Copyright:
    <a class="text-reset fw-bold" href="http://localhost:4200/">consultas.com</a>
  </div>
</footer>